*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/assets/imagefs.txz
app/src/main/assets/proton-10.0-4-x86_64.txz
app/src/main/assets/proton-10.0-4-x86_64.txz.[0-9][0-9]

